{% extends '::base.html.twig' %}

{% set persona = {apellido: "Rodriguez", nombre: "Juan Carlos"} %}

{% block titulo %}Administración de Personas{% endblock %}

{% block contenido %}
    <legend>
        Listado de Personas
        <div class="pull-right">
            {% include 'AppBundle:Persona:nuevo.html.twig' with {'formPersona': formPersona } only %}
        </div>
    </legend>

    <div class="table-responsive col-sm-8 col-sm-offset-2">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nº</th><th>Apellido y Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for item in [0,1,2,3,4,5,6,7] %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ persona.apellido }}, {{ persona.nombre }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}