{% extends '::base.html.twig' %}

{% block titulo %}Administración de Personas{% endblock %}

{% block contenido %}
    <legend>
        Listado de Personas
        <div class="pull-right">
            {% include 'AppBundle:Persona:nuevo.html.twig' with {'formPersona': formPersona } only %}
        </div>
    </legend>

    {% if personas | length != 0 %}
    <div class="table-responsive col-sm-8 col-sm-offset-2">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nº</th><th>Apellido y Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ persona.apellido }}, {{ persona.nombre }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <br>
        <h1 class="text-center">No se Cargaron Personas</h1>
    {% endif %}

{% endblock %}