{% extends '::base.html.twig' %}

{% block titulo %}Crear Evento Festivo{% endblock %}

{% block contenido %}

    <form action="" method="POST" class="form-horizontal">
        {{ form_widget(form) }}
    </form>

{% endblock %}