<div class="container">
    {% for flashMsj in app.session.flashbag.get('success') %}
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a href="#" class="alert-link">{{ flashMsj }}</a>
    </div>
    {% endfor %}
    {% for flashMsj in app.session.flashbag.get('info') %}
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a href="#" class="alert-link">{{ flashMsj }}</a>
    </div>
    {% endfor %}
    {% for flashMsj in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a href="#" class="alert-link">{{ flashMsj }}</a>
    </div>
    {% endfor %}
    {% for flashMsj in app.session.flashbag.get('error') %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a href="#" class="alert-link">{{ flashMsj }}</a>
    </div>
    {% endfor %}
</div>