{% extends '::base.html.twig' %}

{% block titulo %}Menu Principal{% endblock %}

{% block contenido %}
    <a class="btn btn-lg btn-default" href="{{ path('persona_homepage') }}">Personas</a>
    <a class="btn btn-lg btn-default" href="{{ path('evento_festivo_homepage') }}">Eventos Festivos</a>
    {# <a class="btn btn-lg btn-default" href="{{ path('admin_homepage') }}">Admin</a> #}
    {# <a class="btn btn-lg btn-default" href="{{ path('superAdmin_homepage') }}">SuperAdmin</a> #}
{% endblock %}
